<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentcar.dao.CarMapper">
    <select id="queryCarList" parameterType="int" resultType="Car">
        SELECT * FROM car WHERE belong=#{v}
    </select>

    <select id="queryAllUsingCar" resultType="Car">
        SELECT * FROM car WHERE `status` ='出租中'
    </select>

    <insert id="insertCar" parameterType="Car">
        insert into car
        VALUES (
        null,
        #{color},
        #{desc},
        #{fuelType},
        #{type},
        #{frameId},
        #{brand},
        #{img},
        #{rentFee},
        #{deposit},
        #{capacity},
        #{initFuel},
        #{status},
        #{belong.userId}
        );
    </insert>
</mapper>