<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentcar.dao.CarMapper">
    <select id="queryCarList" parameterType="int" resultType="Car">
        SELECT * FROM car WHERE belong=#{v}
    </select>

    <select id="queryAllUsingCar" resultType="Car">
        SELECT * FROM car WHERE `status` ='出租中'
    </select>

    <select id="queryCarImgPath" parameterType="int" resultType="Image">
        SELECT * FROM image WHERE imageId=#{v}
    </select>

</mapper>